@* @model List<Process> *@
@{
    ViewData["Title"] = "Old Process";
}
<div class="text-center">
    <h1 class="display-6">Önceki İşlemler</h1>
</div>
<div class="row">
    <div class="col">
        <label class="form-label">Başlangıç Tarihi</label>
        <input class="form-control form-control-sm mx-1 filterField" type="date" id="startdate" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
        @* <a class="btn btn-sm btn-danger" href="/Home/OldProcess">temizle</a> *@
    </div>
    <div class="col">
        <label class="form-label">Bitiş Tarihi</label>
        <input class="form-control form-control-sm mx-1 filterField" type="date" id="enddate" />
    </div>
    <div class="col">
        <label class="form-label">İşlem</label>
        <select class="form-select form-select-sm filterField" id="process">
           <option value="">Hepsi</option>
           <option value="+">Toplama</option>
           <option value="-">Çıkarma</option>
           <option value="*">Çarpma</option>
           <option value="/">Bölme</option>
        </select>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <a class="btn btn-sm btn-danger" href="/Home/OldProcess">temizle</a>
    </div>
</div>
<div class="row">
@*     @if (Model.Count == 0)
    {
        <h1>Veri Yok</h1>
    }
    else
    { *@
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>İşlem</th>
                    <th>1.Sayı</th>
                    <th>2.Sayı</th>
                    <th>Sonuç</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody id="tableData">
                @* @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model.ElementAt(i);
                    var proc = (item.ProcessType == "+" ? "Toplama" : (item.ProcessType == "-" ? "Çıkarma" : (item.ProcessType == "*" ? "Çarpma" : "Bölme")));
                    <tr>
                        <td>@proc</td>
                        <td>@item.Number1</td>
                        <td>@item.Number2</td>
                        <td>@item.Result</td>
                        <td>@item.CreatedDate.ToShortDateString()</td>
                    </tr>
                } *@
            </tbody>
        </table>
    @* } *@
</div>
@section Scripts {
    <script>
        GetData();
        $(".filterField").change(function () {
            GetData();
        })
        function GetData() {
            $.get("/Home/GetData", { start: $("#startdate").val(), end: $("#enddate").val(), process: $("#process").val() }, function (data, status) {
                var innerHtml = "";
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var islem = item.processType == "+" ? "Toplama" : (item.processType == "-" ? "Çıkarma" : (item.processType == "*" ? "Çarpma" : "Bölme"));
                    innerHtml += `<tr><td>${islem}</td><td>${item.number1}</td><td>${item.number2}</td><td>${item.result}</td><td>${item.createdDate}</td></tr>`;
                }
                $("#tableData").html(innerHtml);
            });
        }
    </script>
}